.root{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 10%;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid grey;
    border-radius: 8px;
}
.active {
    border: 1px solid blue;
    background-color: wheat;
}

.playerName{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.playerName h3{
    color: blue;
    font-size: x-large;
}
.playerName p{
    color: grey;
    font-size: large;
}
