.root {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-radius: 8%;
    font-size: x-small;
    box-shadow: 0 6px 6px rgba(0,0,0,0.2);
    cursor: pointer;
    color: white;
    user-select: none;
}